body {
    background: #121212;
    color: #E0E0E0;
    font-family: 'Arial', sans-serif;
}

header {
    background: #1F1F1F;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type:none ;
    color: #E0E0E0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 40px;
    /* transition: background 0.3s ease-in-out, color 0.3s ease-in-out; */
}
.linktag{
    text-decoration: none;
    list-style-type:none ;
    color: #E0E0E0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 40px;
}

li:hover {
    background: #333333;
    color: #FFFFFF;
    border-radius: 5px;
}